{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="cover-heading">Last measure</h1>
    <div class="panel panel-default">
        <table class="table">
            <tbody>
            <tr><td>Measure date:</td><td>{{ measure['date'] }}</td></tr>
            <tr><td>Temperature:</td><td>{{ measure['temperature'] }}</td></tr>
            <tr><td>Pressure:</td><td>{{ measure['pressure'] }}</td></tr>
            <tr><td>Humidity:</td><td>{{ measure['humidity'] }}</td></tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}